.vs/
Libraries/
Bin/*
packages/*

Application/Debug/
Application/Release/
Application/x64/
Application/Lasted.log

Engine/Debug/
Engine/Release/
Engine/x64/

Game/Debug/
Game/Release/
Game/x64/

Launcher/Debug/
Launcher/Release/
Launcher/x64/

TerrainSculptor/Debug/
TerrainSculptor/Release/
TerrainSculptor/x64/

Player.lua
Fix list.txt