.vs/
Libraries/
Bin/Debug/

Application/Debug/
Application/Release/
Application/x64/

Engine/Debug/
Engine/Release/
Engine/x64/

Game/Debug/
Game/Release/
Game/x64/

Launcher/Debug/
Launcher/Release/
Launcher/x64/

TerrainSculptor/Debug/
TerrainSculptor/Release/
TerrainSculptor/x64/

Application/Debug/
Application/Release/
Application/x64/